@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background: linear-gradient( to right,rgb(255, 255, 155),rgb(249, 255, 84)); */
    /* height: 300vh; */
    /* background: linear-gradient(to right,yellow,white); */
    background: black;

}

:root{
    --font:'Ubuntu', sans-serif;
    --theme-color: rgb(215, 165, 29);
}

/* navbar  */

.nav-item{
    margin-right: 25px !important;
}
.nav-item a{
    color: white !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 20px;
}
.navbar{
    /* position: absolute; */
    /* top: 0; */
    position: sticky ;
    width: 100% !important;
}

.nav-item a:hover{
    /* background: #FEE715FF; */
    color: #FEE715FF !important;
    /* background: #000; */
}
.nav-item .about{
    color: #FEE715FF !important;
}
.dropdown-item:hover{
    background: #000;
}


/* header image */
.header-image{
    width: 100vw;
    height: 40vh;
    background-image: url(static/membership.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    overflow-x:hidden ;
}
.header-head{
    color: white;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 50%;
    left: 50%;
    margin-top: -144px;
    margin-left:-563px ; */
    text-align: center;
    width: inherit;
    height: inherit;

}
.header-head h1{
    font-size: 15vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}


/* About Us */

#about-container{
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: 8rem auto;
    overflow: hidden;
    /*background-color: white;*/
}

#about-text{
    width: 45%;
    height: 60vh;
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    overflow: scroll;
}

#about-text h1{
    font-size: 4rem;
    color: var(--theme-color);
}

#about-text h1 span{
    font-size: 4rem;
}

#about-text-content{
    margin-top: 4rem;
    font-size: 1.5rem;
}

#about-image{
    width: 40%;
    height: 60vh;
    background-image: url(static/IMG_7306.HEIC.jpg);
    background-size: cover;
    background-position: center;
    object-fit: contain;
    border-radius: 2rem;
    overflow: hidden;
    margin-right: 5%;
}

#about-img{
    border-radius: 2rem;
    object-position: center;

}

/*Join Us*/

#join{
    display: flex;
    height: 60vh;
    flex-wrap: nowrap;
    background-color: white;
}

#join-image{
    width: 50%;
    height: 60vh;
    overflow: hidden;
    background-image: url(static/benefits.png);
    background-size: cover;
    background-position: center;
}

#join-image img{
    object-fit: contain;
}

#join-content{
    /*background-color: white;*/
    padding: 0 6.5%;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#join-content-heading{
    font-size: 2rem;
    font-weight: bold;
}

#join-content-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
}

#facilities{
    width: 50%;
}

#facilities i,span{
    font-size:1.25rem;
    margin-top: 1rem;
}

#benefit{
    font-size: 1.25rem;
    width: 50%;
}

#buttons{

}

.join-button{
    background-color: black;
    color: white;
    padding: 1rem;
    margin-left: 2rem;
}

.join-button:hover{
    background-color: white;
    border-color: black;
    color: var(--theme-color);
}

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-content{
    height:auto;
    width:80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
}

.suggestions-form{
    height:inherit;
}

.suggestions-form form{
    height:inherit;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.suggestions-form form input::placeholder ,textarea::placeholder {
    color:white;
    opacity:0.7;

}

.suggestions-form-field {
    width: 100%;
    margin-bottom:2rem;
}

.suggestions-form-field input,textarea{
    padding-left:5px;
    color:white;
    margin-bottom: 2rem;
    font-size:1.25rem;
    width:100%;
    background-color: transparent;
    border:0px solid transparent;
    border-bottom: 2px solid white;
}

.suggestions-form form button {
    padding:0.25rem 0.75rem;
    font-size:1.5rem;
    background-color: white;
    border-radius: 0.75rem;
    margin: auto;
}

.suggestions-form form button:hover{
    background-color:black;
    border:1px solid white;
    color: var(--theme-color);
}

.suggestions-form-field,button{
    margin: 10px;
}

#map{
    display: flex;
    justify-content: flex-end;
    width: 40vw;
    margin-left: 10vw;
}

.contact-info{
    margin-left: 1.5rem;
}

#map iframe{
    border-radius: 2rem;
}

.address{
    color: white;
    display: block;
    margin-top: 2rem;
}

.address:hover{
    color: var(--theme-color);
}

.address i{
    padding-right:0.75rem;
}

.social-media i{
    font-size: 2rem;
    color: white;
    padding:4rem ;
}

.social-media i:hover{
    color:var(--theme-color);
}

.section-heading{
    box-sizing: border-box;
    margin-top: 3rem;
}

.section-heading:hover span{
    color: var(--theme-color);
}

.section-heading:hover i{
    color: var(--theme-color);
}

.section-heading i{
    color:white;
    font-size: 4rem;
    transition: color 0.5s ease-in-out;
}

.section-heading span{
    color:white;
    font-size: 4rem;
    padding-left: 2rem;
    transition: color 0.5s ease-in-out;
}
/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(34, 34, 34); */
}

.footer-content{
    height:auto;
    width:80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
}

.suggestions-form{
    height:inherit;
}

.suggestions-form form{
    height:inherit;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.suggestions-form form input::placeholder ,textarea::placeholder {
    color:white;
    opacity:0.7;

}

.suggestions-form-field {
    width: 100%;
    margin-bottom:2rem;
}




