@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    /* background: #000; */
    /* height: 300vh; */
}

/*Common Rules*/

:root{
    --font:'Ubuntu', sans-serif;
    --theme-color: rgb(252, 186, 13);
}

/*section{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/

section:nth-child(2n){
    background-color:white;
}



/* navbar  */

.nav-item{
    margin-right: 25px !important;
}

.nav-item a{
    color: rgb(255, 255, 255) !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 20px;
}
.nav-item .merchandise{
    font-weight: bold !important;
    color: #FEE715FF !important;
}
.navbar{
    /* position: absolute fixed; */
    /* top: 0; */
    /* position: sticky ; */
    width: 100% !important;
}

.nav-item a:hover{
    /* background: #FEE715FF; */
    font-weight: bold;
    color: #FEE715FF !important;
    /*background: #000;*/
}

.dropdown-item:hover{
    background-color:transparent !important;
    color: white;
}
#cart-count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}
.shopping-cart{
    padding: 3% 0;
}
.cart-items{
    padding: 2% 0;
}
.price-details h6{
    padding: 3% 2%;
}