@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background: linear-gradient( to right,rgb(255, 255, 155),rgb(249, 255, 84)); */
    /* height: 300vh; */
    /* background: linear-gradient(to right,yellow,white); */
    background: rgb(19, 18, 18);

}

:root{
    --font:'Ubuntu', sans-serif;
    --theme-color: rgb(215, 165, 29);
}

/* navbar  */

.nav-item{
    margin-right: 25px !important;
}
.nav-item a{
    color: white !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 20px;
}
.navbar{
    /* position: absolute; */
    /* top: 0; */
    position: sticky ;
    width: 100% !important;
}

.nav-item a:hover{
    /* background: #FEE715FF; */
    color: #FEE715FF !important;
    /* background: #000; */
}
.nav-item .membership{
    color: #FEE715FF !important;
}
.dropdown-item:hover{
    background: #000;
}


/* header image */
.header-image{
    width: 100vw;
    height: 40vh;
    background-image: url(static/memb.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    overflow-x:hidden ;
}
.header-head{
    color: white;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 50%;
    left: 50%;
    margin-top: -144px;
    margin-left:-563px ; */
    text-align: center;
    width: inherit;
    height: inherit;

}
.header-head h1{
    font-size: 15vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}
/* heading  */
.head h4{
    color: var(--theme-color);
    font-family: var(--font);
}
.head{
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.head h1{
    color: white;
    font-family: var(--font);
    font-size: 48px;
    font-weight: bolder;
}
.container{
    background-color: rgb(19, 18, 18);
    width: 100% !important;
    height: fit-content;
    padding: 0;
    /* margin-left: 0px;*/
    /*margin-right: 0px !important;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 50px;
}
.card{
    background-color: rgb(36, 35, 35);
    height: fit-content;
    width: 420px;
    display: inline-block;
    padding-top: 30px;
    text-align: center;
    border-radius: 2em;
    position: relative;
    margin-top: 20px
}
.card h1{
    color: white;
    font-size: 40px;
}
.card hr{
    color: var(--theme-color);
    width: 70%;
    margin: auto;
    height: 7px;
    opacity: 1 !important;
}
.lines{
    margin-top: 130px;
}
.card .box{
    background:rgb(26, 24, 24);
    height: 200px;
    width: 200px;
    position: absolute;
    top: 130px;
    left: 110px;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box h5{
    color: white;
    /* display: block !important; */
}
.box h1{
    color: var(--theme-color);
    font-weight: bolder;
    /* display: block !important; */
    
}
.list{
    margin: auto;
    margin-top: 120px;
    /* text-align: center; */
    width: fit-content;
   
}
.list ul li{
    color: white;
    text-align: left;
    margin-bottom: 8px;
    
}
.list ul{
    margin: auto;
}
.fa-check{
    margin-right: 5px;
    color: var(--theme-color);
}
.card .button{
    background-color: var(--theme-color);
    margin-top: 30px;
    width: 200px;
    border-radius: 2em;
    height: 60px;
    color: white;
    font-weight: bolder;
    margin-bottom: 40px;

}
.card .button:hover{
    background-color: rgb(39, 39, 39);
    border: 3px solid var(--theme-color);
}
.null{
    opacity: 0.3;
}
.null .fa-check{
    color: white;
}

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(15, 15, 15);
    margin-bottom: -100px !important;
}

.footer-content{
    height:auto;
    width:80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
}

.suggestions-form{
    height:inherit;
}

.suggestions-form form{
    height:inherit;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.suggestions-form form input::placeholder ,textarea::placeholder {
    color:white;
    opacity:0.7;

}

.suggestions-form-field {
    width: 100%;
    margin-bottom:2rem;
}

.suggestions-form-field input,textarea{
    padding-left:5px;
    color:white;
    margin-bottom: 2rem;
    font-size:1.25rem;
    width:100%;
    background-color: transparent;
    border:0px solid transparent;
    border-bottom: 2px solid white;
}

.suggestions-form form button {
    padding:0.25rem 0.75rem;
    font-size:1.5rem;
    background-color: white;
    border-radius: 0.75rem;
    margin: auto;
}

.suggestions-form form button:hover{
    background-color:black;
    border:1px solid white;
    color: var(--theme-color);
}

.suggestions-form-field,button{
    margin: 10px;
}

#map{
    display: flex;
    justify-content: flex-end;
    width: 40vw;
    margin-left: 10vw;
}

.contact-info{
    margin-left: 1.5rem;
}

#map iframe{
    border-radius: 2rem;
}

.address{
    color: white;
    display: block;
    margin-top: 2rem;
}

.address:hover{
    color: var(--theme-color);
}

.address i{
    padding-right:0.75rem;
}

.social-media i{
    font-size: 2rem;
    color: white;
    padding:4rem ;
}

.social-media i:hover{
    color:var(--theme-color);
}

.section-heading{
    box-sizing: border-box;
    margin-top: 3rem;
}

.section-heading:hover span{
    color: var(--theme-color);
}

.section-heading:hover i{
    color: var(--theme-color);
}

.section-heading i{
    color:white;
    font-size: 4rem;
    transition: color 0.5s ease-in-out;
}

.section-heading span{
    color:white;
    font-size: 4rem;
    padding-left: 2rem;
    transition: color 0.5s ease-in-out;
}
/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(34, 34, 34); */
}

.footer-content{
    height:auto;
    width:80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
}

.suggestions-form{
    height:inherit;
}

.suggestions-form form{
    height:inherit;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.suggestions-form form input::placeholder ,textarea::placeholder {
    color:white;
    opacity:0.7;

}

.suggestions-form-field {
    width: 100%;
    margin-bottom:2rem;
}
 