@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    /* overflow-x: hidden; */
    /*margin: 0;*/
    /*padding: 0;*/
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background: linear-gradient( to right,rgb(255, 255, 155),rgb(249, 255, 84)); */
    /* height: 300vh; */
    /* background: linear-gradient(to right,yellow,white); */
    /*background: black;*/

}

:root{
    --font:'Ubuntu', sans-serif;
    --theme-color: rgb(215, 165, 29);
}



/*Heading*/

#page-heading{
    margin: auto;
    text-align: center;
}

/*Content*/

#page-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    margin: auto;
}

#delivery-form h2{
   text-align: center;
}

.form-element{
    /*display:flex;*/
    /*justify-content:space-between;*/
    font-size:1.5rem;
    margin-top: 2rem;
}

table td{
    padding:10px;
}

form input,textarea,select{
    padding: 5px;
    font-size: 1.25rem;
}

#submitbtn{
    display: block;
    margin: 2rem auto 0;
    font-size: 1.5rem;
    padding: 5px 20px;
    background-color: #ecbc17;
    color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 12px;
}




#price-details{
    height:300px;
    width:300px;
    border:1px solid black;
}